swagger: '2.0'
info:
  title: Picus Customer API — Mitigation
  description: '<p class="body-1">You can access the simulation raw data using the Rest API. Scope of the API includes; Simulation
    list, Simulation Details, Threat/Objective/Action Results, Results mapped to MITRE ATTC&K and Unified Kill Chain frameworks,
    Detection Analysis Results, Validated Logs & Alerts with SIEM & EDR integration.</p>

    <p class="body-1">OAuth2 protocol is used to authorize Refresh/Access tokens. To obtain the API, you should generate a
    refresh token and then request an access token using the /v1/auth/token endpoint. The refresh token will be valid for
    6 months, whereas the access token will be available for 2 hours. After getting the access token, add Authorization: Bearer
    {accessToken} to the header to request access to the below endpoints.</p>

    <p class="body-1">Endpoints returning data with a lot of load works with the pagination method. You can use the offset
    and limit parameters to get the correct page.</p>


    <i class="body-1">Your usage will be limited with your Picus license.</i>'
  version: '1.0'
host: api.picussecurity.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  Access-Token:
    description: After getting the access token, type <i>Bearer accessToken</i> to the Value input box to request access to
      the below endpoints For example <i>Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9</i>
    type: apiKey
    name: Authorization
    in: header
security:
- Access-Token: []
tags:
- name: Mitigation
paths:
  /v1/mitigation/detection-content/custom:
    get:
      security:
      - Access-Token: []
      description: Lists custom detection content items for the account.
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# List Custom Detection Content'
      operationId: getCustomDetectionContentParams
      parameters:
      - type: integer
        format: uint64
        default: '10'
        description: Maximum number of items to return per page.
        name: Limit
        in: query
      - type: integer
        format: uint64
        default: '0'
        description: Number of items to skip before starting to return results.
        name: Offset
        in: query
      - type: string
        description: Filter by content name (case-insensitive substring match).
        name: Search
        in: query
      - type: array
        items:
          type: string
        example: high,medium
        description: 'Filter by severity level. Comma-separated list. Available values: critical, high, medium, low.'
        name: RuleSeverity
        in: query
      - type: string
        description: 'Field to sort results by. Available values: release_date, update_date.'
        name: OrderBy
        in: query
      - type: boolean
        default: false
        description: Whether sort order is ascending. Set to false for descending.
        name: IsAscending
        in: query
      responses:
        '200':
          $ref: '#/responses/GetCustomDetectionContentResponse'
        default:
          $ref: '#/responses/genericErrorSwagger'
    post:
      security:
      - Access-Token: []
      description: Creates custom detection content items for the account.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Create Custom Detection Content'
      operationId: createCustomDetectionContentParams
      parameters:
      - name: Body
        in: body
        required: true
        schema:
          type: object
          required:
          - items
          properties:
            items:
              description: 'List of custom detection content items to create.

                Minimum 1 item, maximum 20 items per request.'
              type: array
              maxItems: 20
              minItems: 1
              items:
                $ref: '#/definitions/CustomDetectionContentParams'
              x-go-name: Items
      responses:
        '200':
          $ref: '#/responses/CreateCustomDetectionContentResponse'
        '422':
          $ref: '#/responses/validationErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/detection-content/custom/{content_id}:
    get:
      security:
      - Access-Token: []
      description: Returns a custom detection content item by its ID.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Get Custom Detection Content By ID'
      operationId: getCustomDetectionContentByIdParams
      parameters:
      - type: string
        x-go-name: ContentID
        description: Unique identifier (UUID) of the custom detection content item.
        name: content_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/GetCustomDetectionContentByIdResponse'
        default:
          $ref: '#/responses/genericErrorSwagger'
    put:
      security:
      - Access-Token: []
      description: Updates a custom detection content item by ID.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Update Custom Detection Content'
      operationId: updateCustomDetectionContentParams
      parameters:
      - type: string
        x-go-name: ContentID
        description: Unique identifier (UUID) of the custom detection content item to update.
        name: content_id
        in: path
        required: true
      - name: Body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CustomDetectionContentParams'
      responses:
        '200':
          $ref: '#/responses/UpdateCustomDetectionContentResponse'
        '422':
          $ref: '#/responses/validationErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
    delete:
      security:
      - Access-Token: []
      description: Deletes a custom detection content item by ID.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Delete Custom Detection Content'
      operationId: deleteCustomDetectionContentParams
      parameters:
      - type: string
        x-go-name: ContentID
        description: Unique identifier (UUID) of the custom detection content item to delete.
        name: content_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/DeleteCustomDetectionContentResponse'
        '422':
          $ref: '#/responses/validationErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/detection-content/devices:
    get:
      security:
      - Access-Token: []
      description: Returns all available detection content devices (e.g. Splunk, QRadar). Used to populate device selection
        when creating custom detection content.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Get Detection Content Devices'
      operationId: getDetectionDevicesParams
      responses:
        '200':
          $ref: '#/responses/DetectionDevicesResponse'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/detection-content/mitre/sub-techniques:
    get:
      security:
      - Access-Token: []
      description: Returns all available MITRE ATT&CK sub-techniques with their parent technique reference. Used to populate
        sub-technique selection when creating custom detection content.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Get MITRE ATT&CK Sub-Techniques'
      operationId: getMitreSubTechniquesParams
      responses:
        '200':
          $ref: '#/responses/MitreSubTechniquesResponse'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/detection-content/mitre/tactics:
    get:
      security:
      - Access-Token: []
      description: Returns all available MITRE ATT&CK tactics. Used to populate tactic selection when creating custom detection
        content.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Get MITRE ATT&CK Tactics'
      operationId: getMitreTacticsParams
      responses:
        '200':
          $ref: '#/responses/MitreTacticsResponse'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/detection-content/mitre/techniques:
    get:
      security:
      - Access-Token: []
      description: Returns all available MITRE ATT&CK techniques. Used to populate technique selection when creating custom
        detection content.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Get MITRE ATT&CK Techniques'
      operationId: getMitreTechniquesParams
      responses:
        '200':
          $ref: '#/responses/MitreTechniquesResponse'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/detection-content/sources:
    get:
      security:
      - Access-Token: []
      description: Returns the detection content sources associated with the account.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Detection Content Sources'
      operationId: contentSources
      responses:
        '200':
          $ref: '#/responses/SourcesResponse'
        '422':
          $ref: '#/responses/validationErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/detection-content/{source}/log-sources:
    get:
      security:
      - Access-Token: []
      description: Returns the log sources of the account for the provided content source.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Detection Content Log Sources'
      operationId: contentSourceNameUriParam
      parameters:
      - type: string
        x-go-name: Source
        description: Source (URI parameter)
        name: source
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/LogSourcesResponse'
        '422':
          $ref: '#/responses/validationErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/detection-content/{source}/rules:
    get:
      security:
      - Access-Token: []
      description: Returns the rules of the account for the provided content source.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Detection Content Rules'
      operationId: detectionContentRulesParams
      parameters:
      - type: string
        x-go-name: ContentSourceName
        description: Content Source Name
        name: source
        in: path
        required: true
      - type: integer
        format: uint64
        x-go-name: Limit
        description: Limit
        name: limit
        in: query
      - type: integer
        format: uint64
        x-go-name: Offset
        description: Offset
        name: offset
        in: query
      - type: string
        x-go-name: Search
        description: Search key
        name: search
        in: query
      - type: string
        x-go-name: OrderBy
        description: Order by key. One of 'release_date' 'update_date'
        name: orderBy
        in: query
      - type: boolean
        x-go-name: IsAscending
        description: Whether ordering should be ascending or descending
        name: asc
        in: query
      - type: array
        items:
          type: string
        x-go-name: RuleSeverity
        description: 'Rule severity filter (comma-separated). Available options: critical, high, medium, low. ex: low,medium'
        name: ruleSeverity
        in: query
      - type: array
        items:
          type: string
        x-go-name: LogSources
        description: 'Log source filter (comma-separated). Available options can be obtained from log sources endpoint. ex:
          Sysmon,Splunk'
        name: logSources
        in: query
      - type: boolean
        x-go-name: Alerted
        description: If true, only actions with "not alerted" results in the simulations and their contents are displayed
        name: alerted
        in: query
      - type: array
        items:
          type: integer
          format: int64
        x-go-name: Threats
        description: 'Threat filter (comma-separated). Available options can be obtained from threats endpoint. ex: 123,124'
        name: threats
        in: query
      - type: string
        default: predefined
        x-go-name: Type
        name: type
        in: query
      responses:
        '200':
          $ref: '#/responses/RulesResponse'
        '422':
          $ref: '#/responses/validationErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/detection-content/{source}/rules/{ruleId}:
    get:
      security:
      - Access-Token: []
      description: Returns the details of the detection content rule for the given ruleId and content source.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Detection Content Rule Details'
      operationId: contentSourceNameAndRuleIdUriParam
      parameters:
      - type: string
        x-go-name: Source
        description: Source (URI parameter)
        name: source
        in: path
        required: true
      - type: string
        x-go-name: RuleId
        description: RuleId (URI parameter)
        name: ruleId
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/RuleDetailResponse'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/devices:
    get:
      security:
      - Access-Token: []
      description: 'Deprecated: This endpoint has been deprecated and is no longer available.

        Please migrate to the V2 endpoints:

        `GET /v2/mitigation/devices` - Returns device list

        `GET /v2/mitigation/devices/{DeviceId}` - Returns stats for a specific device'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Devices'' Stats List (deprecated)'
      operationId: deviceListParams
      deprecated: true
      parameters:
      - type: array
        items:
          type: integer
          format: int64
        x-go-name: SimulationIds
        description: Filter with Simulation id. (Max 20 ids)
        name: simulation_ids
        in: query
      responses:
        '410':
          $ref: '#/responses/genericErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/devices/{DeviceId}/signatures:
    get:
      security:
      - Access-Token: []
      description: Description. Reference, Product Platform, Product Version
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: Signature List; Signature Id, Signature Name, Vendor Severity, Signature Category, Signature Version,
      operationId: signatureListParams
      parameters:
      - type: array
        items:
          type: integer
          format: int64
        x-go-name: ActionIds
        description: Filter with Action ids. (Max 10 ids)
        name: action_ids
        in: query
        required: true
      - type: integer
        format: int64
        description: Device ID (URI parameter)
        name: DeviceId
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/SignatureListSwagger'
        '422':
          $ref: '#/responses/validationErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v1/mitigation/generic/not-blocked-actions:
    get:
      security:
      - Access-Token: []
      description: 'Returns a list of not blocked actions for generic mitigations with their associated signatures and recommendations.

        The response includes action details, attack module, category, and mitigation information.'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Generic Not Blocked Actions List'
      operationId: genericNotBlockedActionsParams
      parameters:
      - type: integer
        format: int64
        x-go-name: Limit
        name: limit
        in: query
      - type: integer
        format: int64
        x-go-name: Offset
        name: offset
        in: query
      - type: string
        x-go-name: ThreatOrActionName
        name: threat_or_action_name
        in: query
      - type: array
        items:
          type: integer
          format: uint64
        x-go-name: ThreatIds
        name: threat_ids
        in: query
      - type: array
        items:
          type: string
        x-go-name: ThreatSeverities
        name: threat_severities
        in: query
      - type: array
        items:
          type: string
        x-go-name: AttackModules
        name: attack_modules
        in: query
      - type: array
        items:
          type: integer
          format: uint64
        x-go-name: AssessmentIdList
        name: assessment_id_list
        in: query
      - type: boolean
        x-go-name: IsAllAssessments
        name: is_all_assessments
        in: query
      - type: integer
        format: uint64
        x-go-name: RunID
        name: run_id
        in: query
      responses:
        '200':
          $ref: '#/responses/NotBlockedActionsListSwagger'
        '422':
          $ref: '#/responses/validationErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v2/mitigation/devices:
    get:
      security:
      - Access-Token: []
      description: Returns a list of mitigation devices.
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Device List'
      operationId: deviceListParamsV2
      responses:
        '200':
          $ref: '#/responses/DevicesListV2Swagger'
        '422':
          $ref: '#/responses/validationErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
  /v2/mitigation/devices/{DeviceId}:
    get:
      security:
      - Access-Token: []
      description: 'Returns statistics for a specific mitigation device including Blocked Count, Not Blocked Count,

        Total Count, and Score.


        This endpoint works together with GET /v2/mitigation/devices to replace the deprecated

        V1 endpoint. First retrieve the device list, then use this endpoint to get stats for

        each device as needed.


        Example workflow:**


        1. Call GET /v2/mitigation/devices to get the list of devices


        2. Call GET /v2/mitigation/devices/{DeviceId} to get stats for a specific device'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - Mitigation
      summary: '# Device Stats'
      operationId: deviceStatsByIdParams
      parameters:
      - type: integer
        format: int64
        description: Device ID (URI parameter)
        name: DeviceId
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/DeviceStatsByIdSwagger'
        '422':
          $ref: '#/responses/validationErrorSwagger'
        default:
          $ref: '#/responses/genericErrorSwagger'
responses:
  CreateCustomDetectionContentResponse:
    description: CreateCustomDetectionContentResponse
    schema:
      $ref: '#/definitions/CreateCustomDetectionContentInternalResponse'
  DeleteCustomDetectionContentResponse:
    description: DeleteCustomDetectionContentResponse
    schema:
      $ref: '#/definitions/DeleteCustomDetectionContentInternalResponse'
  DetectionDevicesResponse:
    description: DetectionDevicesResponse
    schema:
      type: object
      properties:
        devices:
          type: array
          items:
            type: object
            properties:
              id:
                description: Device identifier
                type: integer
                format: int64
                x-go-name: Id
              name:
                description: Human-readable device name (e.g. Splunk, QRadar)
                type: string
                x-go-name: Name
          x-go-name: Devices
  DeviceStatsByIdSwagger:
    description: DeviceStatsByIdSwagger
    schema:
      type: object
      properties:
        blocked_count:
          type: integer
          format: int64
          x-go-name: BlockedCount
        device_id:
          type: integer
          format: uint64
          x-go-name: DeviceId
        not_blocked_count:
          type: integer
          format: int64
          x-go-name: NotBlockedCount
        score:
          type: integer
          format: int64
          x-go-name: Score
        total_count:
          type: integer
          format: int64
          x-go-name: TotalCount
  DevicesListV2Swagger:
    description: DevicesListV2Swagger
    schema:
      type: object
      properties:
        devices:
          type: array
          items:
            type: object
            properties:
              device_id:
                type: integer
                format: uint64
                x-go-name: DeviceId
              device_name:
                type: string
                x-go-name: DeviceName
          x-go-name: Devices
  GetCustomDetectionContentByIdResponse:
    description: GetCustomDetectionContentByIdResponse
    schema:
      $ref: '#/definitions/CustomRuleDTO'
  GetCustomDetectionContentResponse:
    description: GetCustomDetectionContentResponse
    schema:
      type: object
      properties:
        pagination:
          type: object
          properties:
            currentPage:
              type: integer
              format: uint64
              x-go-name: CurrentPage
            currentPageSize:
              type: integer
              format: int64
              x-go-name: CurrentPageSize
            pageSize:
              type: integer
              format: uint64
              x-go-name: PageSize
            totalCount:
              type: integer
              format: int64
              x-go-name: TotalCount
            totalPageCount:
              type: integer
              format: int64
              x-go-name: TotalPageCount
          x-go-name: Pagination
        rules:
          type: array
          items:
            type: object
            properties:
              actions:
                description: List of associated threat actions
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                      x-go-name: Id
                    name:
                      type: string
                      x-go-name: Name
                x-go-name: Actions
              author:
                description: Author of the rule
                type: string
                x-go-name: Author
              content_id:
                description: Unique identifier of the custom detection content item
                type: string
                x-go-name: ContentId
              content_sources:
                description: Detection content sources (device-specific queries)
                type: array
                items:
                  type: object
                  properties:
                    deviceName:
                      type: string
                      x-go-name: DeviceName
                    policies:
                      type: array
                      items:
                        type: string
                      x-go-name: Policies
                    query:
                      type: string
                      x-go-name: Query
                    severity:
                      type: string
                      x-go-name: Severity
                x-go-name: ContentSources
              name:
                description: Display name of the rule
                type: string
                x-go-name: Name
              severity:
                description: Severity level of the rule (e.g. critical, high, medium, low)
                type: string
                x-go-name: Severity
              tactics:
                description: List of MITRE ATT&CK tactic names
                type: array
                items:
                  type: string
                x-go-name: Tactics
              techniques:
                description: List of associated MITRE ATT&CK techniques
                type: array
                items:
                  type: object
                  properties:
                    mitreId:
                      type: string
                      x-go-name: MitreId
                    name:
                      type: string
                      x-go-name: Name
                    url:
                      type: string
                      x-go-name: Url
                x-go-name: Techniques
              type:
                description: Rule type (e.g. custom)
                type: string
                x-go-name: Type
          x-go-name: Rules
  LogSourcesResponse:
    description: LogSourcesResponse
    schema:
      $ref: '#/definitions/DetectionContentLogSourceCustomerApiResponse'
  MitreSubTechniquesResponse:
    description: MitreSubTechniquesResponse
    schema:
      type: object
      properties:
        sub_techniques:
          type: array
          items:
            type: object
            properties:
              mitre_id:
                description: MITRE ATT&CK sub-technique identifier (e.g. T1059.001)
                type: string
                x-go-name: MitreId
              name:
                description: Human-readable name of the sub-technique
                type: string
                x-go-name: Name
              technique_mitre_id:
                description: Parent technique MITRE ID (e.g. T1059)
                type: string
                x-go-name: TechniqueMitreId
          x-go-name: SubTechniques
  MitreTacticsResponse:
    description: MitreTacticsResponse
    schema:
      type: object
      properties:
        tactics:
          type: array
          items:
            type: object
            properties:
              mitre_id:
                description: MITRE ATT&CK tactic identifier (e.g. TA0001)
                type: string
                x-go-name: MitreId
              name:
                description: Human-readable name of the tactic
                type: string
                x-go-name: Name
          x-go-name: Tactics
  MitreTechniquesResponse:
    description: MitreTechniquesResponse
    schema:
      type: object
      properties:
        techniques:
          type: array
          items:
            type: object
            properties:
              mitre_id:
                description: MITRE ATT&CK technique identifier (e.g. T1059)
                type: string
                x-go-name: MitreId
              name:
                description: Human-readable name of the technique
                type: string
                x-go-name: Name
          x-go-name: Techniques
  NotBlockedActionsListSwagger:
    description: NotBlockedActionsListSwagger
    schema:
      type: object
      properties:
        not_blocked_action_list:
          type: array
          items:
            $ref: '#/definitions/NotBlockedActionResponse'
          x-go-name: NotBlockedActions
        pagination:
          $ref: '#/definitions/Pagination'
  RuleDetailResponse:
    description: RuleDetailResponse
    schema:
      $ref: '#/definitions/DetectionContentRuleDetailCustomerApiResponse'
  RulesResponse:
    description: RulesResponse
    schema:
      type: object
      properties:
        pagination:
          $ref: '#/definitions/PaginationDTO'
        rules:
          type: array
          items:
            $ref: '#/definitions/RuleDTO'
          x-go-name: Rules
  SignatureListSwagger:
    description: SignatureListSwagger
    schema:
      type: object
      properties:
        signatures:
          type: array
          items:
            $ref: '#/definitions/Signature'
          x-go-name: Signatures
  SourcesResponse:
    description: SourcesResponse
    schema:
      type: object
      properties:
        sources:
          type: array
          items:
            $ref: '#/definitions/SourceWithRuleCount'
          x-go-name: Sources
  UpdateCustomDetectionContentResponse:
    description: UpdateCustomDetectionContentResponse
    schema:
      $ref: '#/definitions/UpdateCustomDetectionContentInternalResponse'
  genericErrorSwagger:
    description: genericErrorSwagger is represents the erroneous cases
    schema:
      type: object
      properties:
        error_code:
          description: Error Code is optional. It is using for define specific error types.
          type: integer
          format: int64
          x-go-name: ErrorCode
          example: 1001
        errors:
          description: Errors are optional. If there are multiple error, this field gives details.
          type: object
          additionalProperties:
            type: string
          x-go-name: Errors
          example: '["error1", "error2"]'
        message:
          description: Error Message that contains information about error
          type: string
          x-go-name: Message
  validationErrorSwagger:
    description: validationErrorSwagger is represents the erroneous cases
    schema:
      type: object
      properties:
        errors:
          description: Validation Error List
          type: object
          additionalProperties:
            type: string
          x-go-name: Errors
          example:
            param: tag=max, param=25, given value=1000
        message:
          description: Message will be "validation error"
          type: string
          x-go-name: Message
          example: validation error
definitions:
  ActionWithCategoryDTO:
    type: object
    properties:
      category:
        type: string
        x-go-name: Category
      display_id:
        type: integer
        format: int64
        x-go-name: DisplayId
      id:
        type: integer
        format: int64
        x-go-name: Id
      name:
        type: string
        x-go-name: Name
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/internal_service_dto
  ContentSourceItem:
    type: object
    properties:
      deviceName:
        type: string
        x-go-name: DeviceName
      policies:
        type: array
        items:
          type: string
        x-go-name: Policies
      query:
        type: string
        x-go-name: Query
      severity:
        type: string
        x-go-name: Severity
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/internal_service_dto
  CreateCustomDetectionContentInternalResponse:
    type: object
    properties:
      created:
        type: array
        items:
          $ref: '#/definitions/CreatedCustomDetectionContentItem'
        x-go-name: Created
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request
  CreatedCustomDetectionContentItem:
    type: object
    properties:
      content_id:
        type: string
        x-go-name: ContentID
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request
  CrowdStrikeIOARuleResponse:
    type: object
    properties:
      commandLine:
        type: string
        x-go-name: CommandLine
      connectionType:
        type: string
        x-go-name: ConnectionType
      filePath:
        type: string
        x-go-name: FilePath
      fileType:
        type: string
        x-go-name: FileType
      grandparentCommandLine:
        type: string
        x-go-name: GrandparentCommandLine
      grandparentImageFileName:
        type: string
        x-go-name: GrandparentImageFileName
      imageFileName:
        type: string
        x-go-name: ImageFileName
      parentCommandLine:
        type: string
        x-go-name: ParentCommandLine
      parentImageFileName:
        type: string
        x-go-name: ParentImageFileName
      platform:
        type: string
        x-go-name: Platform
      remoteIPAddress:
        type: string
        x-go-name: RemoteIPAddress
      remoteTCPUDPPort:
        type: string
        x-go-name: RemoteTCPUDPPort
      ruleAction:
        type: string
        x-go-name: RuleAction
      ruleQuery:
        type: string
        x-go-name: RuleQuery
      ruleType:
        type: string
        x-go-name: RuleType
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/internal_service_dto
  CustomDetectionContentParams:
    type: object
    properties:
      action_ids:
        type: array
        items:
          type: integer
          format: uint64
        x-go-name: ActionIds
      author:
        type: string
        x-go-name: Author
      content_name:
        type: string
        x-go-name: ContentName
      content_sources:
        type: array
        items:
          $ref: '#/definitions/CustomDetectionSourceParams'
        x-go-name: Sources
      description:
        type: string
        x-go-name: Description
      false_positives:
        type: array
        items:
          type: string
        x-go-name: FalsePositives
      products:
        type: string
        x-go-name: Products
      references:
        type: array
        items:
          type: string
        x-go-name: References
      release_date:
        description: 'Release date of the detection content, as a Unix timestamp in milliseconds.

          If omitted, the current server time is used.'
        type: integer
        format: int64
        x-go-name: ReleaseDate
      service:
        type: string
        x-go-name: Service
      status:
        type: string
        x-go-name: Status
      sub_techniques:
        type: array
        items:
          type: string
        x-go-name: SubTechniques
      tactics:
        type: array
        items:
          type: string
        x-go-name: Tactics
      techniques:
        type: array
        items:
          type: string
        x-go-name: Techniques
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request
  CustomDetectionSourceParams:
    type: object
    properties:
      content_policies:
        type: array
        items:
          type: string
        x-go-name: ContentPolicies
      device_name:
        type: string
        x-go-name: DeviceName
      event_id:
        type: array
        items:
          type: integer
          format: int64
        x-go-name: EventId
      query:
        type: string
        x-go-name: DeviceQuery
      severity:
        type: string
        x-go-name: Severity
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request
  CustomRuleDTO:
    type: object
    properties:
      actions:
        type: array
        items:
          $ref: '#/definitions/IdNameInfoDTO'
        x-go-name: Actions
      author:
        type: string
        x-go-name: Author
      content_id:
        type: string
        x-go-name: ContentId
      content_sources:
        type: array
        items:
          $ref: '#/definitions/ContentSourceItem'
        x-go-name: ContentSources
      name:
        type: string
        x-go-name: Name
      severity:
        type: string
        x-go-name: Severity
      tactics:
        type: array
        items:
          type: string
        x-go-name: Tactics
      techniques:
        type: array
        items:
          $ref: '#/definitions/TechniqueInfoDTO'
        x-go-name: Techniques
      type:
        type: string
        x-go-name: Type
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/internal_service_dto
  DeleteCustomDetectionContentInternalResponse:
    type: object
    properties:
      message:
        type: string
        x-go-name: Message
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request
  DetectionContentLogSourceCustomerApiResponse:
    type: object
    properties:
      logSources:
        type: array
        items:
          type: string
        x-go-name: LogSources
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/customer_api_dto
  DetectionContentRuleDetailCrowdStrikeConfiguration:
    type: object
    properties:
      ioaDetails:
        $ref: '#/definitions/CrowdStrikeIOARuleResponse'
      logScaleQuery:
        type: string
        x-go-name: LogScaleQuery
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/customer_api_dto
  DetectionContentRuleDetailCustomerApiResponse:
    type: object
    properties:
      actions:
        type: array
        items:
          $ref: '#/definitions/ActionWithCategoryDTO'
        x-go-name: Actions
      overview:
        $ref: '#/definitions/DetectionContentRuleDetailOverviewCustomerApiResponse'
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/customer_api_dto
  DetectionContentRuleDetailIntegrationConfigurations:
    type: object
    properties:
      crowdStrike:
        $ref: '#/definitions/DetectionContentRuleDetailCrowdStrikeConfiguration'
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/customer_api_dto
  DetectionContentRuleDetailOverviewCustomerApiResponse:
    type: object
    properties:
      author:
        type: string
        x-go-name: Author
      description:
        type: string
        x-go-name: Description
      deviceName:
        type: string
        x-go-name: DeviceName
      falsePositives:
        type: array
        items:
          type: string
        x-go-name: FalsePositives
      id:
        type: string
        x-go-name: Id
      integrationConfigurations:
        $ref: '#/definitions/DetectionContentRuleDetailIntegrationConfigurations'
      logSource:
        $ref: '#/definitions/LogSourceDTO'
      mitre:
        type: array
        items:
          $ref: '#/definitions/TechniqueInfoDTO'
        x-go-name: Mitre
      name:
        type: string
        x-go-name: Name
      query:
        type: string
        x-go-name: Query
      releaseDate:
        type: integer
        format: int64
        x-go-name: ReleaseDate
      score:
        type: integer
        format: int64
        x-go-name: Score
      severity:
        type: string
        x-go-name: Severity
      type:
        type: string
        x-go-name: Type
      updateDate:
        type: integer
        format: int64
        x-go-name: UpdateDate
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/customer_api_dto
  IdNameInfoDTO:
    type: object
    properties:
      id:
        type: integer
        format: int64
        x-go-name: Id
      name:
        type: string
        x-go-name: Name
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/internal_service_dto
  Int64Array:
    type: array
    title: Int64Array represents a one-dimensional array of the PostgreSQL integer types.
    items:
      type: integer
      format: int64
    x-go-package: github.com/lib/pq
  LogSourceDTO:
    type: object
    properties:
      policies:
        type: array
        items:
          type: string
        x-go-name: Policies
      productName:
        type: array
        items:
          type: string
        x-go-name: ProductName
      service:
        type: string
        x-go-name: Service
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/internal_service_dto
  NotBlockedActionResponse:
    type: object
    properties:
      action_display_id:
        type: integer
        format: uint64
        x-go-name: ActionDisplayId
      action_id:
        type: integer
        format: uint64
        x-go-name: ActionId
      action_name:
        type: string
        x-go-name: ActionName
      assessment_run_id:
        type: integer
        format: uint64
        x-go-name: AssessmentRunId
      attack_category:
        type: string
        x-go-name: AttackCategory
      attack_module:
        type: string
        x-go-name: AttackModule
      campaign_id:
        type: integer
        format: uint64
        x-go-name: CampaignId
      mitigation_ids:
        $ref: '#/definitions/Int64Array'
      node_id:
        type: integer
        format: uint64
        x-go-name: NodeId
      release_date:
        type: string
        x-go-name: ReleaseDate
      signature_descriptions:
        $ref: '#/definitions/StringArray'
      signature_names:
        $ref: '#/definitions/StringArray'
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request
  Pagination:
    type: object
    properties:
      limit:
        description: Limit
        type: integer
        format: int64
        x-go-name: Limit
        example: 20
      offset:
        description: Offset
        type: integer
        format: int64
        x-go-name: Offset
        example: 0
      total_count:
        description: Total Count
        type: integer
        format: int64
        x-go-name: TotalCount
        example: 100
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/apirequest
  PaginationDTO:
    type: object
    properties:
      currentPage:
        type: integer
        format: uint64
        x-go-name: CurrentPage
      currentPageSize:
        type: integer
        format: int64
        x-go-name: CurrentPageSize
      pageSize:
        type: integer
        format: uint64
        x-go-name: PageSize
      totalCount:
        type: integer
        format: int64
        x-go-name: TotalCount
      totalPageCount:
        type: integer
        format: int64
        x-go-name: TotalPageCount
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/internal_service_dto
  RuleDTO:
    type: object
    properties:
      actions:
        type: array
        items:
          $ref: '#/definitions/IdNameInfoDTO'
        x-go-name: Actions
      id:
        type: string
        x-go-name: Id
      mitre:
        type: array
        items:
          $ref: '#/definitions/TechniqueInfoDTO'
        x-go-name: Mitre
      name:
        type: string
        x-go-name: Name
      releaseDate:
        type: integer
        format: int64
        x-go-name: ReleaseDate
      score:
        type: integer
        format: int64
        x-go-name: Score
      severity:
        type: string
        x-go-name: Severity
      type:
        type: string
        x-go-name: Type
      updateDate:
        type: integer
        format: int64
        x-go-name: UpdateDate
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/internal_service_dto
  Signature:
    type: object
    properties:
      description:
        type: string
        x-go-name: Description
      id:
        type: integer
        format: int64
        x-go-name: Id
      name:
        type: string
        x-go-name: Name
      product_platform:
        type: string
        x-go-name: ProductPlatform
      product_version:
        type: string
        x-go-name: ProductVersion
      reference:
        type: string
        x-go-name: Reference
      signature_category:
        type: string
        x-go-name: SignatureCategory
      signature_id:
        type: string
        x-go-name: SignatureId
      signature_version:
        type: string
        x-go-name: SignatureVersion
      vendor_severity:
        type: string
        x-go-name: VendorSeverity
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/mitigation
  SourceWithRuleCount:
    type: object
    properties:
      name:
        type: string
        x-go-name: ContentSourceName
      ruleCount:
        type: integer
        format: int64
        x-go-name: RuleCount
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/internal_service_dto
  StringArray:
    type: array
    title: StringArray represents a one-dimensional array of the PostgreSQL character types.
    items:
      type: string
    x-go-package: github.com/lib/pq
  TechniqueInfoDTO:
    type: object
    properties:
      mitreId:
        type: string
        x-go-name: MitreId
      name:
        type: string
        x-go-name: Name
      url:
        type: string
        x-go-name: Url
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request/internal_service_dto
  UpdateCustomDetectionContentInternalResponse:
    type: object
    properties:
      message:
        type: string
        x-go-name: Message
    x-go-package: github.com/picusnext/picus-digital/go/customer-api/internal_request
