{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "<p class=\"body-1\">You can access the simulation raw data using the Rest API. Scope of the API includes; Simulation list, Simulation Details, Threat/Objective/Action Results, Results mapped to MITRE ATTC&K and Unified Kill Chain frameworks, Detection Analysis Results, Validated Logs & Alerts with SIEM & EDR integration.</p>\n<p class=\"body-1\">OAuth2 protocol is used to authorize Refresh/Access tokens. To obtain the API, you should generate a refresh token and then request an access token using the /v1/auth/token endpoint. The refresh token will be valid for 6 months, whereas the access token will be available for 2 hours. After getting the access token, add Authorization: Bearer {accessToken} to the header to request access to the below endpoints.</p>\n<p class=\"body-1\">Endpoints returning data with a lot of load works with the pagination method. You can use the offset and limit parameters to get the correct page.</p>\n\n<i class=\"body-1\">Your usage will be limited with your Picus license.</i>",
    "title": "Picus Rest API",
    "version": "1.0"
  },
  "host": "api.picussecurity.com",
  "basePath": "/",
  "paths": {
    "/v1/activity-logs": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "This endpoint return activity logs.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Activity-Logs"
        ],
        "summary": "# Get activity logs",
        "operationId": "activityLogsFilterParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "DateStart",
            "description": "Date start in epoch",
            "name": "date_start",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "DateEnd",
            "description": "Date end in epoch",
            "name": "date_end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetActivityLogsInputResponse"
          },
          "401": {
            "$ref": "#/responses/unauthorizedErrorSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/agents": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Agents; Agent Name, Agent Status, Agent Type, Agent Created Time, Agent Platform",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Agents"
        ],
        "summary": "# Agent List",
        "operationId": "Result",
        "responses": {
          "200": {
            "$ref": "#/responses/AgentsReturnSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/agents/download-link": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns the download link for the given agent type and variant. Variants can be portable or installable for windows agent type,\n32bit or 64bit for linux agent type and apple or intel for macos agent type.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Agents"
        ],
        "summary": "# Download Link",
        "operationId": "downloadLinkParams",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AgentType",
            "name": "agent_type",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Variant",
            "name": "variant",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetSimAgentDownloadLinkResponse"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/agents/install-token": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns the install token for the given agent type and variant. Variants can be portable or installable for windows agent type,\n32bit or 64bit for linux agent type and apple or intel for macos agent type. If agent type is kubernetes, variant is not required.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Agents"
        ],
        "summary": "# Install Token",
        "operationId": "installTokenParams",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AgentType",
            "name": "agent_type",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Variant",
            "name": "variant",
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/agents/kubernetes/download-yaml": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Downloads the Kubernetes agent YAML file for the given agent name and agent ID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Agents"
        ],
        "summary": "# Download Kubernetes agent YAML",
        "operationId": "downloadK8sAgentYamlParams",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AgentName",
            "name": "agent_name",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "AgentID",
            "name": "agent_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/fileResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/agents/reinstall-token": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns the reinstall token for the given agent type and variant. Variants can be portable or installable for windows agent type,\n32bit or 64bit for linux agent type and apple or intel for macos agent type.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Agents"
        ],
        "summary": "# Reinstall Token",
        "operationId": "reinstallTokenParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "AgentID",
            "name": "agent_id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetSimAgentInstallTokenResponse"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/agents/{Id}": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Agent Detail; Agent Name, Agent Status, Agent Type, Agent Created Time, Agent Platform,\nAgent Mitigation Devices, Agent Attack Modules",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Agents"
        ],
        "summary": "# Agent Detail",
        "operationId": "agentParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Agent ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AgentDetailReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "This endpoint regenerates refresh token.\nInvalidates previous refresh/access token.\nWhen provided refresh token is expired, a new refresh token should be created from the application itself",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Authentication"
        ],
        "summary": "# Regenerating refresh token",
        "operationId": "RegenerateRefreshTokenParam",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "refresh_token": {
                  "type": "string",
                  "x-go-name": "RefreshToken",
                  "example": "access_token (Getting from Settings / API Token / Generate Token)"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GenerateRefreshTokenInternalResponse"
          },
          "401": {
            "$ref": "#/responses/unauthorizedErrorSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/auth/token": {
      "post": {
        "description": "OAuth2 protocol is used to authorize Refresh/Access tokens.\nTo obtain the API, you should generate a refresh token and then request an access token using the /v1/auth/token endpoint.\nThe refresh token will be valid for 6 months, whereas the access token will be available for 2 hours.\nAfter getting the access token, add Authorization: Bearer {accessToken} to the header to request access to the below endpoints.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Authentication"
        ],
        "summary": "# Getting access token for endpoints",
        "operationId": "AuthTokenParam",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "refresh_token": {
                  "type": "string",
                  "x-go-name": "RefreshToken",
                  "example": "access_token (Getting from Settings / API Token / Generate Token)"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AuthTokenResponse"
          },
          "401": {
            "$ref": "#/responses/unauthorizedErrorSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        },
        "security": []
      }
    },
    "/v1/exposures/instances/scores": {
      "post": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns exposure instance scores for the specified host-exposure pairs.\nDuplicate pairs are deduplicated server-side. Unmatched pairs are omitted from the response.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Instances"
        ],
        "summary": "# List Instance Scores",
        "operationId": "listInstanceScoresParams",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "filters"
              ],
              "properties": {
                "filters": {
                  "type": "object",
                  "required": [
                    "host_exposure_pairs"
                  ],
                  "properties": {
                    "host_exposure_pairs": {
                      "description": "List of host-exposure pairs to query.",
                      "type": "array",
                      "maxItems": 250,
                      "minItems": 1,
                      "items": {
                        "$ref": "#/definitions/HostExposurePairSwagger"
                      },
                      "x-go-name": "HostExposurePairs",
                      "example": [
                        {
                          "exposure_id": "CVE-2022-21903",
                          "hostname": "asset-001"
                        }
                      ]
                    }
                  },
                  "x-go-name": "Filters"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ScoresResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/integrations": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Integration List; Integration ID, Integration Name, Created At, Updated At, Health Status, Integration Agent ID, Integration Agent Name (If Available)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Integrations"
        ],
        "summary": "# Integrations",
        "operationId": "integrationList",
        "responses": {
          "200": {
            "$ref": "#/responses/IntegrationsReturnSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/integrations/agents": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Integration Agent List; Integration Agent ID, Integration Agent Name, Created At, Updated At, Status (Alive | Dead), Is Installed, Is Token Expired",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Integrations"
        ],
        "summary": "# Integration Agents",
        "operationId": "integrationAgent",
        "responses": {
          "200": {
            "$ref": "#/responses/IntegrationAgentsReturnSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/detection-content/custom": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Lists custom detection content items for the account.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# List Custom Detection Content",
        "operationId": "getCustomDetectionContentParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "default": "10",
            "description": "Maximum number of items to return per page.",
            "name": "Limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "default": "0",
            "description": "Number of items to skip before starting to return results.",
            "name": "Offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by content name (case-insensitive substring match).",
            "name": "Search",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": "high,medium",
            "description": "Filter by severity level. Comma-separated list. Available values: critical, high, medium, low.",
            "name": "RuleSeverity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Field to sort results by. Available values: release_date, update_date.",
            "name": "OrderBy",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether sort order is ascending. Set to false for descending.",
            "name": "IsAscending",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCustomDetectionContentResponse"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      },
      "post": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Creates custom detection content items for the account.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Create Custom Detection Content",
        "operationId": "createCustomDetectionContentParams",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "items"
              ],
              "properties": {
                "items": {
                  "description": "List of custom detection content items to create.\nMinimum 1 item, maximum 20 items per request.",
                  "type": "array",
                  "maxItems": 20,
                  "minItems": 1,
                  "items": {
                    "$ref": "#/definitions/CustomDetectionContentParams"
                  },
                  "x-go-name": "Items"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateCustomDetectionContentResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/detection-content/custom/{content_id}": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns a custom detection content item by its ID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Get Custom Detection Content By ID",
        "operationId": "getCustomDetectionContentByIdParams",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ContentID",
            "description": "Unique identifier (UUID) of the custom detection content item.",
            "name": "content_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCustomDetectionContentByIdResponse"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      },
      "put": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Updates a custom detection content item by ID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Update Custom Detection Content",
        "operationId": "updateCustomDetectionContentParams",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ContentID",
            "description": "Unique identifier (UUID) of the custom detection content item to update.",
            "name": "content_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomDetectionContentParams"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateCustomDetectionContentResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Deletes a custom detection content item by ID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Delete Custom Detection Content",
        "operationId": "deleteCustomDetectionContentParams",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ContentID",
            "description": "Unique identifier (UUID) of the custom detection content item to delete.",
            "name": "content_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteCustomDetectionContentResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/detection-content/devices": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns all available detection content devices (e.g. Splunk, QRadar). Used to populate device selection when creating custom detection content.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Get Detection Content Devices",
        "operationId": "getDetectionDevicesParams",
        "responses": {
          "200": {
            "$ref": "#/responses/DetectionDevicesResponse"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/detection-content/mitre/sub-techniques": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns all available MITRE ATT&CK sub-techniques with their parent technique reference. Used to populate sub-technique selection when creating custom detection content.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Get MITRE ATT&CK Sub-Techniques",
        "operationId": "getMitreSubTechniquesParams",
        "responses": {
          "200": {
            "$ref": "#/responses/MitreSubTechniquesResponse"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/detection-content/mitre/tactics": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns all available MITRE ATT&CK tactics. Used to populate tactic selection when creating custom detection content.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Get MITRE ATT&CK Tactics",
        "operationId": "getMitreTacticsParams",
        "responses": {
          "200": {
            "$ref": "#/responses/MitreTacticsResponse"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/detection-content/mitre/techniques": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns all available MITRE ATT&CK techniques. Used to populate technique selection when creating custom detection content.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Get MITRE ATT&CK Techniques",
        "operationId": "getMitreTechniquesParams",
        "responses": {
          "200": {
            "$ref": "#/responses/MitreTechniquesResponse"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/detection-content/sources": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns the detection content sources associated with the account.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Detection Content Sources",
        "operationId": "contentSources",
        "responses": {
          "200": {
            "$ref": "#/responses/SourcesResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/detection-content/{source}/log-sources": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns the log sources of the account for the provided content source.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Detection Content Log Sources",
        "operationId": "contentSourceNameUriParam",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Source",
            "description": "Source (URI parameter)",
            "name": "source",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LogSourcesResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/detection-content/{source}/rules": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns the rules of the account for the provided content source.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Detection Content Rules",
        "operationId": "detectionContentRulesParams",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ContentSourceName",
            "description": "Content Source Name",
            "name": "source",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "Limit",
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "Offset",
            "description": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Search",
            "description": "Search key",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "OrderBy",
            "description": "Order by key. One of 'release_date' 'update_date'",
            "name": "orderBy",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "IsAscending",
            "description": "Whether ordering should be ascending or descending",
            "name": "asc",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "RuleSeverity",
            "description": "Rule severity filter (comma-separated). Available options: critical, high, medium, low. ex: low,medium",
            "name": "ruleSeverity",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "LogSources",
            "description": "Log source filter (comma-separated). Available options can be obtained from log sources endpoint. ex: Sysmon,Splunk",
            "name": "logSources",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "Alerted",
            "description": "If true, only actions with \"not alerted\" results in the simulations and their contents are displayed",
            "name": "alerted",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "x-go-name": "Threats",
            "description": "Threat filter (comma-separated). Available options can be obtained from threats endpoint. ex: 123,124",
            "name": "threats",
            "in": "query"
          },
          {
            "type": "string",
            "default": "predefined",
            "x-go-name": "Type",
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RulesResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/detection-content/{source}/rules/{ruleId}": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns the details of the detection content rule for the given ruleId and content source.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Detection Content Rule Details",
        "operationId": "contentSourceNameAndRuleIdUriParam",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Source",
            "description": "Source (URI parameter)",
            "name": "source",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "RuleId",
            "description": "RuleId (URI parameter)",
            "name": "ruleId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RuleDetailResponse"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/devices": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Deprecated: This endpoint has been deprecated and is no longer available.\nPlease migrate to the V2 endpoints:\n`GET /v2/mitigation/devices` - Returns device list\n`GET /v2/mitigation/devices/{DeviceId}` - Returns stats for a specific device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Devices' Stats List (deprecated)",
        "operationId": "deviceListParams",
        "deprecated": true,
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "x-go-name": "SimulationIds",
            "description": "Filter with Simulation id. (Max 20 ids)",
            "name": "simulation_ids",
            "in": "query"
          }
        ],
        "responses": {
          "410": {
            "$ref": "#/responses/genericErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/devices/{DeviceId}/signatures": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Description. Reference, Product Platform, Product Version",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "Signature List; Signature Id, Signature Name, Vendor Severity, Signature Category, Signature Version,",
        "operationId": "signatureListParams",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "x-go-name": "ActionIds",
            "description": "Filter with Action ids. (Max 10 ids)",
            "name": "action_ids",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Device ID (URI parameter)",
            "name": "DeviceId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SignatureListSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/mitigation/generic/not-blocked-actions": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Returns a list of not blocked actions for generic mitigations with their associated signatures and recommendations.\nThe response includes action details, attack module, category, and mitigation information.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Mitigation"
        ],
        "summary": "# Generic Not Blocked Actions List",
        "operationId": "genericNotBlockedActionsParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "ThreatOrActionName",
            "name": "threat_or_action_name",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint64"
            },
            "x-go-name": "ThreatIds",
            "name": "threat_ids",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "ThreatSeverities",
            "name": "threat_severities",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "AttackModules",
            "name": "attack_modules",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint64"
            },
            "x-go-name": "AssessmentIdList",
            "name": "assessment_id_list",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "IsAllAssessments",
            "name": "is_all_assessments",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "RunID",
            "name": "run_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/NotBlockedActionsListSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Simulation List; Simulation ID, Simulation Name, Simulation Agent (with status), Enrichment Status, Last Prevention Result, Last Detection Result (if Available)\nDefault limit: 25, Default offset: 0\nMax limit: 50",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulations"
        ],
        "summary": "# Simulation List",
        "operationId": "simulationListParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "Status",
            "description": "Filter with Status (one or more status): RUNNING | STOPPED | WAITING FOR THE FIRST RUN | NOT STARTED | COMPLETED",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SimulationName",
            "description": "Filter with Simulation name.",
            "name": "simulation_name",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "AgentName",
            "description": "Filter with Agent name.",
            "name": "agent_name",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "AgentId",
            "description": "Filter with Agent id.",
            "name": "agent_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "TemplateName",
            "description": "Filter with Template name.",
            "name": "template_name",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "TemplateId",
            "description": "Filter with Template id.",
            "name": "template_id",
            "in": "query"
          },
          {
            "maximum": 100,
            "minimum": -1,
            "type": "integer",
            "format": "int64",
            "x-go-name": "PreventionResultLte",
            "description": "Filter with Prevention Result Less Than or Equals",
            "name": "prevention_result_lte",
            "in": "query"
          },
          {
            "maximum": 100,
            "minimum": -1,
            "type": "integer",
            "format": "int64",
            "x-go-name": "PreventionResultGte",
            "description": "Filter with Prevention Result Greater Than or Equals",
            "name": "prevention_result_gte",
            "in": "query"
          },
          {
            "maximum": 100,
            "minimum": -1,
            "type": "integer",
            "format": "int64",
            "x-go-name": "DetectionResultLte",
            "description": "Filter with Detection Result Less Than or Equals",
            "name": "detection_result_lte",
            "in": "query"
          },
          {
            "maximum": 100,
            "minimum": -1,
            "type": "integer",
            "format": "int64",
            "x-go-name": "DetectionResultGte",
            "description": "Filter with Detection Result Greater Than or Equals",
            "name": "detection_result_gte",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SimulationsResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      },
      "post": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Creates the simulation with given information",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulations"
        ],
        "summary": "# Create Simulation",
        "operationId": "createSimulationParams",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "template_id"
              ],
              "properties": {
                "agent_id": {
                  "description": "id of the agent",
                  "type": "integer",
                  "format": "uint64",
                  "maximum": 1000000,
                  "minimum": 1,
                  "x-go-name": "AgentID",
                  "example": 3
                },
                "agent_user_ids": {
                  "description": "agent user ids for installable agent execution users",
                  "type": "array",
                  "maxItems": 2,
                  "items": {
                    "type": "integer",
                    "format": "uint64"
                  },
                  "x-go-name": "AgentUserIDs",
                  "example": [
                    1,
                    2
                  ]
                },
                "auto_resume": {
                  "description": "auto resume feature of the simulation, if set auto resume will be enabled for simulation",
                  "type": "boolean",
                  "x-go-name": "AutoResume"
                },
                "description": {
                  "description": "description of the simulation",
                  "type": "string",
                  "maximum": 1000,
                  "x-go-name": "Description",
                  "example": "This simulation rocks!"
                },
                "force": {
                  "description": "force (option to create identical simulation)\navailable values are true and false",
                  "type": "boolean",
                  "x-go-name": "Force"
                },
                "integrations": {
                  "description": "integration ids",
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "uint64"
                  },
                  "x-go-name": "Integrations",
                  "example": [
                    1,
                    2,
                    3
                  ]
                },
                "name": {
                  "description": "name of the simulation",
                  "type": "string",
                  "maximum": 500,
                  "minimum": 1,
                  "x-go-name": "Name",
                  "example": "simulation - 1"
                },
                "obfuscation_methods": {
                  "description": "TODO : add max\nobfuscation methods",
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-go-name": "ObfuscationMethods",
                  "example": "Base64 Encoding, XOR Encryption"
                },
                "protocols": {
                  "description": "protocols",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SimulationProtocol"
                  },
                  "x-go-name": "Protocols"
                },
                "schedule": {
                  "$ref": "#/definitions/ScheduleInput"
                },
                "schedule_now": {
                  "type": "boolean",
                  "x-go-name": "ScheduleNow"
                },
                "template_id": {
                  "description": "id of the scope",
                  "type": "integer",
                  "format": "uint64",
                  "maximum": 10000,
                  "minimum": 1,
                  "x-go-name": "TemplateId",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SimulationCreateReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Simulation Detail; Simulation Name, Simulation Agent (with status), Enrichment Status, Last Prevention Result,\nLast Detection Result (if Available), Simulation Run List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulations"
        ],
        "summary": "# Simulation Detail",
        "operationId": "simulationParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SimulationDetailReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      },
      "put": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Updates the simulation with given information",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulations"
        ],
        "summary": "# Update Simulation",
        "operationId": "updateSimulationParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "schedule": {
                  "$ref": "#/definitions/ScheduleInput"
                },
                "schedule_now": {
                  "type": "boolean",
                  "x-go-name": "ScheduleNow"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SimulationUpdateReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Deletes simulation with given id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulations"
        ],
        "summary": "# Delete Simulation",
        "operationId": "simulationDeleteParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SimulationDeleteReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorWithSuccessSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/cancel": {
      "put": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Cancels simulation with given id if it is running",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulations"
        ],
        "summary": "# Cancel Simulation",
        "operationId": "simulationCancelParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SimulationCancelReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorWithSuccessSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/latest": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes Prevention and Detection result details\nPrevention Result: Total Threats, Blocked/Not Blocked, Attackers Objective, UnAchieved/Achieved Count\nDetection Result: Logged/Not Logged, Alerted/Not Alerted Count",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Latest-Result"
        ],
        "summary": "# Latest Simulation Run Result",
        "operationId": "latestRunParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SimulationRunDetailResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/latest/frameworks": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Latest Simulation Run Result with Mitre ATT&CK and Unified Kill Chain framework",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Latest-Result"
        ],
        "summary": "Latest Simulation Run Result with Mitre ATT&CK and Unified Kill Chain framework",
        "operationId": "latestRunDetailParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RunDetailResultsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/latest/threats": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes Threat, Attacker's Objective, Action results for Prevention and Threat, Action results for Detection.\nDefault limit: 10, Default offset: 0\nMax limit: 50",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Latest-Result"
        ],
        "summary": "# Threats - Objectives - Actions",
        "operationId": "latestRunThreatParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ThreatResultsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/latest/threats/{ThreatId}/actions": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes detailed action result with attack start & end time, log & alert time and attack module based details (payloads, terminal log, file name, sha256, md5, sha1).\nProtocol based results are also available.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Latest-Result"
        ],
        "summary": "# Action Details List",
        "operationId": "latestActionDetailsListParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Threat ID (URI parameter)",
            "name": "ThreatId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ActionDetailsListReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/latest/threats/{ThreatId}/actions/{ActionId}": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes detailed action result with attack start & end time, log & alert time and attack module based details (payloads, terminal log, file name, sha256, md5, sha1).\nProtocol based results are also available.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Latest-Result"
        ],
        "summary": "# Action Details",
        "operationId": "latestActionDetailsParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Threat ID (URI parameter)",
            "name": "ThreatId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Action ID (URI parameter)",
            "name": "ActionId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "NodeId",
            "name": "node_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ActionDetailsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/latest/threats/{ThreatId}/actions/{ActionId}/integrations/{IntegrationId}/alerts": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes Action Name, Log Source and Alert Time.\nDefault limit: 100, Default offset: 0\nMax limit: 1000\nSame action can be used multiple times under the scope of threat where these actions are distinguished by node_id\nnode_id parameter can be used optionally. For the case it is not provided, first node is returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Latest-Result"
        ],
        "summary": "# Integration based Alert Details for Actions",
        "operationId": "latestActionAlertsParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Threat ID (URI parameter)",
            "name": "ThreatId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Action ID (URI parameter)",
            "name": "ActionId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Integration ID (URI parameter)",
            "name": "IntegrationId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "NodeId",
            "name": "node_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ActionAlertsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/latest/threats/{ThreatId}/actions/{ActionId}/integrations/{IntegrationId}/logs": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes Action Name, Log Source and Alert Time.\nDefault limit: 100, Default offset: 0\nMax limit: 1000\nSame action can be used multiple times under the scope of threat where these actions are distinguished by node_id\nnode_id parameter can be used optionally. For the case it is not provided, first node is returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Latest-Result"
        ],
        "summary": "# Integration based Log Details for Actions",
        "operationId": "latestActionLogsParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Threat ID (URI parameter)",
            "name": "ThreatId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Action ID (URI parameter)",
            "name": "ActionId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Integration ID (URI parameter)",
            "name": "IntegrationId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "NodeId",
            "name": "node_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ActionLogsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/{RunId}": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes Prevention and Detection result details\nPrevention Result: Total Threats, Blocked/Not Blocked, Attackers Objective, UnAchieved/Achieved Count\nDetection Result: Logged/Not Logged, Alerted/Not Alerted Count",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Result"
        ],
        "summary": "# Simulation Run Result",
        "operationId": "simulationRunParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation Run ID (URI parameter)",
            "name": "RunId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SimulationRunDetailResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/{RunId}/frameworks": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Simulation Run Result with Mitre ATT&CK and Unified Kill Chain framework",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Result"
        ],
        "summary": "Simulation Run Result with Mitre ATT&CK and Unified Kill Chain framework",
        "operationId": "runDetailParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation Run ID (URI parameter)",
            "name": "RunId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RunDetailResultsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/{RunId}/threats": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes Threat, Attacker's Objective, Action results for Prevention and Threat, Action results for Detection\nDefault limit: 10, Default offset: 0\nMax limit: 50",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Result"
        ],
        "summary": "# Threats - Objectives - Actions",
        "operationId": "runThreatParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation Run ID (URI parameter)",
            "name": "RunId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ThreatResultsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/{RunId}/threats/{ThreatId}/actions": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes detailed action result with attack start & end time, log & alert time and attack module based details (payloads, terminal log, file name, sha256, md5, sha1) for the actions of the given threat.\nProtocol based results are also available.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Result"
        ],
        "summary": "# Action Details List",
        "operationId": "actionDetailsListParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation Run ID (URI parameter)",
            "name": "RunId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Threat ID (URI parameter)",
            "name": "ThreatId",
            "in": "path",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint64"
            },
            "x-go-name": "ActionIDs",
            "description": "List Action Details With Action ID List. (Max 100 ids)",
            "name": "action_ids",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint64"
            },
            "x-go-name": "ActionDisplayIDs",
            "description": "List Action Details With Action Display ID List. (Max 100 display ids)",
            "name": "action_display_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ActionDetailsListReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/{RunId}/threats/{ThreatId}/actions/{ActionId}": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes detailed action result with attack start & end time, log & alert time and attack module based details (payloads, terminal log, file name, sha256, md5, sha1).\nProtocol based results are also available.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Result"
        ],
        "summary": "# Action Details",
        "operationId": "actionDetailsParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation Run ID (URI parameter)",
            "name": "RunId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Action ID (URI parameter)",
            "name": "ActionId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Threat ID (URI parameter)",
            "name": "ThreatId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "NodeId",
            "name": "node_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ActionDetailsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/{RunId}/threats/{ThreatId}/actions/{ActionId}/integrations/{IntegrationId}/alerts": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes Action Name, Log Source and Alert Time.\nDefault limit: 100, Default offset: 0\nMax limit: 1000\nSame action can be used multiple times under the scope of threat where these actions are distinguished by node_id\nnode_id parameter can be used optionally. For the case it is not provided, first node is returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Result"
        ],
        "summary": "# Integration based Alert Details for Actions",
        "operationId": "actionAlertsParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation Run ID (URI parameter)",
            "name": "RunId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Threat ID (URI parameter)",
            "name": "ThreatId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Action ID (URI parameter)",
            "name": "ActionId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Integration ID (URI parameter)",
            "name": "IntegrationId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "NodeId",
            "name": "node_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ActionAlertsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/run/{RunId}/threats/{ThreatId}/actions/{ActionId}/integrations/{IntegrationId}/logs": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Includes Action Name, Log Source and Log Time.\nDefault limit: 100, Default offset: 0\nMax limit: 1000\nSame action can be used multiple times under the scope of threat where these actions are distinguished by node_id\nnode_id parameter can be used optionally. For the case it is not provided, first node is returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Result"
        ],
        "summary": "# Integration based Log Details for Actions",
        "operationId": "actionLogsParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation Run ID (URI parameter)",
            "name": "RunId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Threat ID (URI parameter)",
            "name": "ThreatId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Action ID (URI parameter)",
            "name": "ActionId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Integration ID (URI parameter)",
            "name": "IntegrationId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "NodeId",
            "name": "node_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ActionLogsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{Id}/simulate-now": {
      "post": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "ReRuns simulation with given id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulations"
        ],
        "summary": "# Simulate Now",
        "operationId": "simulateNowParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SimulateNowReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/simulations/{SimulationId}/run/{RunId}/threats/{ThreatId}/peers/{PeerId}/integrations/{IntegrationId}/raw-logs": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Retrieves raw log file download links for a specific threat, peer, and integration combination.\nReturns an array of URLs pointing to raw log files that can be downloaded.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Simulation-Result"
        ],
        "summary": "# Raw Log File Links",
        "operationId": "rawLogsParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Simulation ID (URI parameter)",
            "name": "SimulationId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Run ID (URI parameter)",
            "name": "RunId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Threat ID (URI parameter)",
            "name": "ThreatId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Peer ID (URI parameter)",
            "name": "PeerId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "description": "Integration ID (URI parameter)",
            "name": "IntegrationId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "ActionId",
            "description": "Action ID (Query parameter)",
            "name": "actionId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RawLogsReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/summary/overall": {
      "post": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "This endpoint is used to get the overall summary of the account.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Summary"
        ],
        "summary": "# Summary Overall",
        "operationId": "summaryOverallParams",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "periodType": {
                  "description": "period type",
                  "type": "string",
                  "x-go-name": "PeriodType",
                  "example": "WEEK | MONTH | QUARTER"
                },
                "simulationIds": {
                  "description": "simulation ids",
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "x-go-name": "SimulationIds",
                  "example": [
                    1,
                    2,
                    3
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SummaryResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Templates; Template Name, Description, Id, Threat Count, Content Type, Category Name, Subcategory Name",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Templates"
        ],
        "summary": "# Template List",
        "operationId": "templateListParams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "CategoryName",
            "description": "Filter by Predefined Category Names or My Templates",
            "name": "category_name",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "ContentType",
            "description": "Filter by content type Static or Dynamic",
            "name": "content_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/TemplatesReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      },
      "post": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Creates the dynamic/static templates with given threats or rule content",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Templates"
        ],
        "summary": "# Create Template",
        "operationId": "createTemplateParams",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "$ref": "#/definitions/TemplateThreatParams"
                },
                "description": {
                  "description": "description of the template",
                  "type": "string",
                  "maximum": 1000,
                  "x-go-name": "Description",
                  "example": "This template rocks!"
                },
                "name": {
                  "description": "Template Name (Example Template)",
                  "type": "string",
                  "x-go-name": "Name",
                  "example": "Example Template"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/TemplateCreateReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/templates/{Id}": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Template Detail; Template Name, Description, Id, Content Type, Category Name, Subcategory Name\nApplicable Agent Types, Rules For Dynamic Templates, Threat List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Templates"
        ],
        "summary": "# Template Detail",
        "operationId": "templateParams",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "description": "Template ID (URI parameter)",
            "name": "Id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/TemplateDetailReturnSwagger"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/threat-library/action-parameters": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "This endpoint returns all available parameters required to create an action. It provides the complete configuration schema, including supported fields, available option values, and related metadata necessary for action creation.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Threats"
        ],
        "summary": "# Action Parameters",
        "operationId": "actionParametersParams",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ModuleName",
            "description": "List Action Parameters with Module Name",
            "name": "module_name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ActionParametersResponse"
          },
          "422": {
            "$ref": "#/responses/validationErrorSwagger"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      }
    },
    "/v1/threat-library/actions": {
      "get": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Action Details; Action Id, Action Display Id, Action Name, Action Release Date, Action Description, Action Affected Os, Action Affected Products, Action Affected Platforms, Action Category, Attack Module, Mitres, Unified Kill Chains, Module Based Details, Owasp, Reference Links, Keyword Queries",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Threats"
        ],
        "summary": "# Action Details List",
        "operationId": "actionDetailsList",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint64"
            },
            "x-go-name": "ActionIDs",
            "description": "List Action Details With Action ID List. (Max 100 ids)",
            "name": "action_ids",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint64"
            },
            "x-go-name": "ActionDisplayIDs",
            "description": "List Action Details With Action Display ID List. (Max 100 display ids)",
            "name": "action_display_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ActionDetailListReturnResponse"
          },
          "default": {
            "$ref": "#/responses/genericErrorSwagger"
          }
        }
      },
      "post": {
        "security": [
          {
            "Access-Token": []
          }
        ],
        "description": "Creates custom actions with given arguments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "Threats"
        ],
        "summary": "# CreateAction",
        "operationId": "createActionParams",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "action_result": {
                  "type": "string",
                  "x-go-name": "ActionResult",
                  "example": "unblocked"
                },
                "affected_os": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-go-name": "AffectedOs",
                  "example": [
                    "Windows"
                  ]
                },
                "affected_platform_ids": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "x-go-name": "AffectedPlatformIds",
                  "example": [
                    1
                  ]
                },
                "attack_module": {
                  "type": "string",
                  "x-go-name": "AttackModule",
                  "example": "Endpoint Scenario"
                },
                "category": {
                  "type": "string",
                  "x-go-name": "Category",
                  "example": "Attack Scenario"
                },
                "description": {
                  "type": "string",
                  "x-go-name": "Description",
                  "example": "Stops the Defender service using sc.exe"
                },
                "is_privileged": {
                  "type": "boolean",
                  "x-go-name": "IsPrivileged",
                  "example": false
                },
                "is_sensitive_content": {
                  "type": "boolean",
                  "x-go-name": "IsSensitiveContent",
                  "example": false
                },
                "keyword": {
                  "type": "string",
[...]
